body {

}


#main{
    border:1px solid gray;
    div{
        margin-top:10px;
        table{
            border-collapse:collapse;
            th{
                background-color:lightskyblue;
            }
            td{

            }
        }
    }
}
